/*
POR AÑADIR:

- FADE IN DOWN PARA H2 (js)
- ENCONTRAR MANERA DE QUE HEADER SEA BLANCO AL ESTAR ARRIBA, Y QUE AL BAJAR SE HAGA MAS DELGADO. (js)
*/

/* ============================================================================
  TYPOGRAPHY
============================================================ */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* ============================================================================
  IMPORT CSS
============================================================================ */
@import url("../css/font-awesome.css");

/* ============================================================================
	 RESET
============================================================================ */
html {
  font-size: 16px;
}

body, h1, h2, h3, p, ul, li, form{
  margin : 0;
  padding: 0;
  border : 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* ============================================================================
  BODY
============================================================================ */
body {
  font-family: 'Lato', sans-serif;
  color      : white;
  position   : relative;
}

/* ============================================================================
  HEADER
============================================================================ */
header {
  background-color: #f08c78;
  background-image: url("../img/patterns/stardust.png");
}

/* ============================================================================
  NAVBAR
============================================================================ */
.navbar {
  transition-duration: .5s;
}
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar .navbar-brand {
    text-transform: uppercase;
    font-weight   : 600;
    font-size     : 1.5em;
  }
  .navbar .nav li {
    font-size     : 1.1em;
    text-transform: capitalize;
    color         : #bab3b2;
  }
    .navbar-default .navbar-nav li a:hover {
      background-color: #ECF0F1;
    }
    .navbar-default .navbar-nav .active a {
      background-color: #D2D7D3;
    }

/* ============================================================================
  SECTION GENERAL
============================================================================ */
.section-container {
  padding: 140px 0;
}
.md-contact h2,
.md-about h2 {
  padding-top: 20px;
}

/* ============================================================================
  FIRST SECTION
============================================================================ */
.md-first-section {
  background-image     : url("../img/bamboo.jpg");
  background-position  : 50% 50%;
  background-size      : cover;
  background-attachment: fixed;
}

/* ============================================================================
  SECOND SECTION
============================================================================ */
.md-second-section {
  background-color: #ecd9bc;
}

/* ============================================================================
  THIRD SECTION
============================================================================ */
.md-third-section {
  background-image     : url("../img/slide3.jpg");
  background-position  : 50% 50%;
  background-size      : cover;
  background-attachment: fixed;
}

/* ============================================================================
  FOURTH SECTION
============================================================================ */
.md-fourth-section {
  background-color: #74926f;
}

/* ============================================================================
  FIFTH SECTION
============================================================================ */
.md-fifth-section {
  background-image     : url("../img/blue.jpg");
  background-position  : 50% 50%;
  background-size      : cover;
  background-attachment: fixed;
}

/* ============================================================================
  CONTACT SECTION
============================================================================ */
.md-contact {
  background-color: #fce17e;
  height          : 50em;
}

/* ============================================================================
  FORMS
============================================================================ */
.md-contact .contact-form {
  background-color:rgba(72,72,72,0.2);
  margin-left     : 23%;
  margin-top      : 2%;
  width           : 55%;
  padding         : 3% 0;
}
  input,
  textarea {
    font-size       : 2em;
    width           : 88%; /* 50% */
    padding         : 2% 2%;
    margin-bottom   : 2%;
    margin-left     : 6%; /* 20% */
    color           : #8a8a8a;
    border          : .1em solid transparent;
    background-color: #F5F5F5;
    max-width       : 88%;
  }
    input:focus, textarea:focus {
      border          : .1em solid #3498db;
      color           : #3498DB;
      background-color: white;
    }
    input[type="submit"] {
      width             : 88%;
      font-weight       : bold;
      font-size         : 3em;
      background-color  : transparent;
      /*background-color: #3498db;*/
      color             : white;
      border            : .15em solid white;
      transition        : all .3s ease 0s;
      cursor            : pointer;
    }
      input[type="submit"]:hover {
        background-color: #3498db;
        border          : .15em solid #3498db;
        color           : white;
      }

/* ============================================================================
  ABOUT US SECTION
============================================================================ */
.md-about {
  background-color: #b33232;
}
  .md-about .about {
    margin-bottom: 30px;
  }
  .md-about .about-box {
    height          : 200px;
    background-color: rgba(0,0,0,.1);
    overflow        : hidden;
    text-transform  : uppercase;
    margin-top      : 20px;
  }
  .md-about .about-box blockquote {
    margin-top : 3%;
    font-size  : 1.2em;
    text-shadow: 2px 2px black;
    font-weight: 300;
  }
  .md-about .about-box p {
    margin-top    : 5%;
    font-size     : 1.2em;
    text-shadow   : 2px 2px black;
    /* text-shadow: 2px 2px 8px black - Sombra discreta y difuminada */
  }
  .md-about .about-box i.fa {
    font-size  : 3em;
    color      : #da746c;
    text-shadow: 2px 2px 8px black;
    margin-top : 20px;
  }

/* ============================================================================
  FOOTER
============================================================================ */
.md-footer {
  background-color: #343434;
  padding         : 1%;
  overflow        : hidden;
  border-top      : .3em solid white;
}
  .md-footer p {
    font-size     : small;
    text-transform: uppercase;
  }
    .md-footer p a {
      border-bottom: 1px dotted white;
    }
      .md-footer p a:hover {
        border-bottom: 1px dotted #D2D7D3;
      }
  .md-footer .credits p {
    padding-top: 10px;
  }
  .md-footer .social-links a {
    display      : inline-block;
    margin-right : 10px;
    font-size    : 2em;
    border-bottom: none;
  }
    .md-footer .social-links a:hover {
      color        : #D2D7D3;
      border-bottom: none;
    }

/* ============================================================================
  TEXT LEVEL SEMANTICS
============================================================================ */
a {
  text-decoration: none;
  color          : white;
}
  a:hover, a:focus {
    color          : #D2D7D3;
    text-decoration: none;
  }
h2 {
  font-size     : 5em;
  text-align    : center;
  text-transform: uppercase;
  text-shadow   : 4px 5px 3px rgba(0,0,0,.3);
  font-weight   : 300;
}
h3 {
  font-size     : 2em;
  text-align    : center;
  text-transform: uppercase;
  text-shadow   : 4px 5px 3px rgba(0,0,0,.3);
  font-weight   : lighter;
  margin-top    : 6%;
}
p {
  font-size  : 1.2em;
  text-align : center;
  font-weight: 300;
}

/* ============================================================================
  MEDIA QUERIES
============================================================================ */
/* FORM */
@media (min-width: 320px) and (max-width: 414px) {
  .md-contact {
    height: 32em;
  }
    .md-contact .contact-form {
      margin: 2%;
      width : 95%;
    }
}
@media (min-width: 415px) and (max-width: 601px) {
  .md-contact {
    height: 38em;
  }
    .md-contact .contact-form {
      margin: 2%;
      width : 95%;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
  .md-contact {
    height: 43em;
  }
    .md-contact .contact-form {
      margin: 2%;
      width : 95%;
    }
}

/* H2 TITLE */
@media (max-width: 615px) {
  h2 {
    font-size: 3em;
  }
}
