/* ============================================================================
  TYPOGRAPHY
============================================================ */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* ============================================================================
  IMPORT CSS
============================================================================ */
@import url("../vendor/Shifter/jquery.fs.shifter.css");
@import url("../vendor/bootstrap/dist/css/bootstrap.min.css");
@import url("../vendor/fontawesome/css/font-awesome.min.css");
@import url("../vendor/font-awesome-animation/dist/font-awesome-animation.min.css");
@import url("../vendor/github-fork-ribbon-css/gh-fork-ribbon.css");

/* ============================================================================
	 RESET
============================================================================ */
html {
  font-size: 16px;
}

body, h1, h2, h3, p, ul, li, form{
  margin : 0;
  padding: 0;
  border : 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/* Remove dotted link borders */
a, a:active, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

/* ============================================================================
  GITHUB FORK RIBBON
============================================================================ */
.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  background-image: none;
  box-shadow: none;
  padding: 5px 0px;
  background-color: #E74C3C;
}
  .github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon:hover {
    background-color: #b83c30;
  }
  .github-fork-ribbon a, .github-fork-ribbon a:hover {
    border-color: transparent;
    text-shadow: none;
    border-style: none;
  }

/* ============================================================================
  TOOLTIP FIXED
============================================================================ */
.tooltip {
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  cursor: default;
}
.tooltip-inner{
    max-width:200px;
    padding:5px 10px;
    color: black;
    text-align:center;
    text-decoration:none;
    background-color: white;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
  .tooltip.top .tooltip-arrow {
    border-top-color: white;
    border-width: 15px;
    top: 32px;
    margin-left: -15px;
  }
  .tooltip.bottom {
    margin-top: 20px;
  }
    .tooltip.bottom .tooltip-arrow {
      border-bottom-color: white;
      border-width: 15px;
      top: -24px;
      margin-left: -15px;
    }
  .tooltip.left {
    margin-left: -20px;
  }
    .tooltip.left .tooltip-arrow {
      border-left-color: white;
      border-width: 15px;
      top: 6px !important;
      left: 113px;
    }
  .tooltip.right {
    margin-left: 15px;
  }
  .tooltip.right .tooltip-arrow {
    border-right-color: white;
    border-width: 15px;
    top: 6px !important;
    left: -23px;
  }

/* ============================================================================
  BODY
============================================================================ */
body {
  font-family: 'Lato', sans-serif;
  color      : white;
  position   : relative;
}

/* ============================================================================
  HEADER
============================================================================ */
header {
  background-color: #444349;
  background-image: url("../img/patterns/stardust.png");
  height: 600px;
}
  header .section-down {}
    header .section-down .more-info {
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.4);
      color: #fff;
      padding: 1.5rem;
      margin-bottom: 100px;
    }
    header .section-down .fa {
      font-size: 50px;
    }

/* ============================================================================
  NAVBAR
============================================================================ */
.navbar {
  transition-duration: .5s;
}
  .navbar-default {
    background-color: transparent;
    border-color    : transparent;
    height          : 50px;
    opacity         : .7;
  }
  .navbar-right {
    margin-top: 4px;
    margin-right: 0px;
  }
  .navbar-default .navbar-collapse {
    border-color: transparent;
    padding-top : 7px;
  }
  /* navbar logo */
  .navbar .navbar-brand {
    text-transform: uppercase;
    font-weight   : 600;
    font-size     : 1.5em;
  }
    .navbar .navbar-brand:hover {
      color         : white;
    }
  /* navbar anchors */
  .navbar .nav li {
    font-size     : 1.1em;
    margin-left: 5px;
  }
    .nav > li > a {
      padding-top: 10px;
      padding: 10px 20px;
      color: white;
    }
    .navbar-default .navbar-nav li a:hover {
      background-color: #ECF0F1;
      border: 1px solid white;
    }
    .navbar-default .navbar-nav .active a {
      border: 1px solid white;
      color: white;
      background-color: transparent;
    }

/* ============================================================================
  NAVBAR SHIFTER
============================================================================ */
.shifter-enabled .shifter-navigation {
  background-color: #2D2F33 none repeat scroll 0% 0%;
}
  .shifter-navigation {
    padding: 20px;
  }
  .shifter-navigation p {
    color: #6F7D8C;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #6F7D8C;
    padding-bottom: 20px;
  }
  .shifter-navigation a {
    color: #6F7D8C;
    display: block;
    border-bottom: 1px solid #6F7D8C;
    padding: 25px 15px;
    text-transform: uppercase;
    font-weight: 300;
  }
    .shifter-navigation a > span.icon {
        float: right;
        margin: 0.1em 1.7em -0.1em 0px;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out 0s;
    }
      .shifter-navigation a:hover > span.icon {
        float: right;
        margin: 0.1em 0em -0.1em 0;
        opacity: 1;
      }
  .shifter-enabled .shifter-handle:hover::after {
    background-color: white;
    box-shadow: 0px 5px 0px white, 0px -5px 0px white;
  }
/* Arrow */
.icon::before {
  font-family: "FontAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: "\f105";
  font-size: 20px;
}

/* ============================================================================
  ROUNDED BADGE
============================================================================ */
.round-button {
	width: 220px;
  margin-top: 4%;
  border-radius: 50%;
  float: left;
  margin-right: 8%;
}
  .last {
    margin-right: 0%;
  }
  .rounded-badge {
  	width: 100%;
  	height:0;
  	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #E74C3C;
  }
    .rounded-badge .badge-icon {
      line-height:1em;
      color: white;
      font-size:50px;
      margin-left: 85px;
      margin-top: 18%;
    }
    .rounded-badge .badge-text {
      margin-left: 45px;
      margin-top: 6%;
      width: 130px;
    	line-height:1em;
    	color: white;
      font-size:20px;
    }

/* ============================================================================
  SECTION GENERAL
============================================================================ */
.section-container {
  padding: 120px 0px 70px 0px;
}
.md-contact h2,
.md-about h2 {
  padding-top: 20px;
}

/* ============================================================================
  FIRST SECTION
============================================================================ */
.md-first-section {
  background-color: #f08c78;
  padding-bottom: 120px;
}

/* ============================================================================
  SECOND SECTION
============================================================================ */
.md-second-section {
  background-image     : url("../img/bamboo.jpg");
  background-position  : 50% 50%;
  background-size      : cover;
  background-attachment: fixed;
}

/* ============================================================================
  THIRD SECTION
============================================================================ */
.md-third-section {
  background-color: #ecd9bc;
}

/* ============================================================================
  FOURTH SECTION
============================================================================ */
.md-fourth-section {
  background-image     : url("../img/forest.jpg");
  background-position  : 50% 50%;
  background-size      : cover;
  background-attachment: fixed;
}

/* ============================================================================
  FIFTH SECTION
============================================================================ */
.md-fifth-section {
  background-color: #74926f;
}

/* ============================================================================
  SIXTH SECTION
============================================================================ */
.md-sixth-section {
  background-image     : url("../img/blue.jpg");
  background-position  : 50% 50%;
  background-size      : cover;
  background-attachment: fixed;
}

/* ============================================================================
  CONTACT SECTION
============================================================================ */
.md-contact {
  background-color: #fce17e;
  height          : 52em;
}

/* ============================================================================
  FORMS
============================================================================ */
.md-contact .contact-form {
  background-color:rgba(72,72,72,0.2);
  margin-left     : 23%;
  margin-top      : 2%;
  width           : 55%;
  padding         : 3% 0;
}
  input,
  textarea {
    font-size       : 2em;
    width           : 88%; /* 50% */
    padding         : 2% 2%;
    margin-bottom   : 2%;
    margin-left     : 6%; /* 20% */
    color           : #8a8a8a;
    border          : .1em solid transparent;
    background-color: #F5F5F5;
    max-width       : 88%;
  }
    input:focus, textarea:focus {
      border          : .1em solid #3498db;
      color           : #3498DB;
      background-color: white;
    }
    input[type="submit"] {
      width             : 88%;
      font-weight       : bold;
      font-size         : 3em;
      background-color  : transparent;
      /*background-color: #3498db;*/
      color             : white;
      border            : .15em solid white;
      transition        : all .3s ease 0s;
      cursor            : pointer;
    }
      input[type="submit"]:hover {
        background-color: #3498db;
        border          : .15em solid #3498db;
        color           : white;
      }

/* ============================================================================
  ABOUT US SECTION
============================================================================ */
.md-about {
  background-color: #b33232;
}
  .md-about .about {
    margin-bottom: 30px;
  }
  .md-about .about-box {
    height          : 200px;
    background-color: rgba(0,0,0,.1);
    overflow        : hidden;
    text-transform  : uppercase;
    margin-top      : 20px;
  }
  .md-about .about-box blockquote {
    margin-top : 3%;
    font-size  : 1.2em;
    text-shadow: 2px 2px black;
    font-weight: 300;
  }
  .md-about .about-box p {
    margin-top    : 5%;
    font-size     : 1.2em;
    text-shadow   : 2px 2px black;
    /* text-shadow: 2px 2px 8px black - Sombra discreta y difuminada */
  }
  .md-about .about-box i.fa {
    font-size  : 3em;
    color      : #da746c;
    text-shadow: 2px 2px 8px black;
    margin-top : 20px;
  }

/* ============================================================================
  FOOTER
============================================================================ */
.md-footer {
  background-color: #343434;
  padding         : 1%;
  overflow        : hidden;
  border-top      : .3em solid white;
}
  .md-footer p {
    font-size     : small;
    text-transform: uppercase;
  }
    .md-footer p a {
      border-bottom: 1px dotted white;
    }
      .md-footer p a:hover {
        border-bottom: 1px dotted #D2D7D3;
      }
  .md-footer .credits p {
    padding-top: 10px;
  }
  .md-footer .social-links a {
    display      : inline-block;
    margin-right : 10px;
    font-size    : 2em;
    border-bottom: none;
  }
    .md-footer .social-links a:hover {
      color        : #D2D7D3;
      border-bottom: none;
    }

/* ============================================================================
  TEXT LEVEL SEMANTICS
============================================================================ */
a {
  color          : white;
}
  a:hover, a:focus {
    color          : #D2D7D3;
  }
h2 {
  font-size     : 5em;
  text-align    : center;
  text-transform: uppercase;
  text-shadow   : 4px 5px 3px rgba(0,0,0,.3);
  font-weight   : 300;
  margin-bottom : 20px;
}
h3 {
  font-size     : 2em;
  text-align    : center;
  text-transform: uppercase;
  text-shadow   : 4px 5px 3px rgba(0,0,0,.3);
  font-weight   : lighter;
  margin-top    : 6%;
}
p {
  font-size  : 1.2em;
  text-align : center;
  font-weight: 300;
}

/* ============================================================================
  MEDIA QUERIES
============================================================================ */
/* FORM */
@media (min-width: 320px) and (max-width: 414px) {
  .md-contact {
    height: 32em;
  }
    .md-contact .contact-form {
      margin: 2%;
      width : 95%;
    }
}
@media (min-width: 415px) and (max-width: 601px) {
  .md-contact {
    height: 38em;
  }
    .md-contact .contact-form {
      margin: 2%;
      width : 95%;
    }
}
/* H2 TITLE */
@media (max-width: 615px) {
  h2 {
    font-size: 3em;
  }
}
/* navbar bootstrap hidden for use Shifter */
@media (max-width: 768px) {
  .navbar-right {
    visibility: hidden;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .md-contact {
    height: 45em;
  }
    .md-contact .contact-form {
      margin: 2%;
      width : 95%;
    }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .md-contact {
    height: 54em;
  }
    .md-contact .contact-form {
      margin: 2% 5%;
      width : 90%;
    }
}

@media (min-width: 1620px) {
  .md-contact {
    height: 68em;
  }
    .md-contact .contact-form {
      margin: 2% 15%;
      width : 70%;
    }
}
